.principal{
    display: flex;
    align-items: center;
    justify-content: center;
/*    gap: 50px;*/
    margin: auto;
   
}

/*.biografia {
    width: 450px;
}*/
.imagen{
    /*display: flex;*/
    height: 30%;
    width: 30%;
    max-width: 320px;
    max-height: 220px;
  /*  height: 220px;
    width: 320px; 
    left: 0;*/
}
.skill{
   
    text-align: center;
    margin: auto;
}
.skill-header {
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.skill-img {
    width: 300px;
    height: 200px;
    background-color: #ffff;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
}
h1{
    text-align: center;
}
main{
   margin-top: 100px;
   margin-bottom: 100px;

}
/* CONTENEDORES FLEX */

.contenedor-padre1,.contenedor-padre2{
    width: 100%;
    height: 200px;
   /* background-color: aquamarine;*/
    display: flex;
    flex-direction: row;
    /*alineo los hijos en el eje principal*/
    justify-content: center;
    align-content: center;
    
   /* eje secundario*/

}
.contenedor-padre p{
    text-align: center;
}
.contenedor-hijo-1 {
   /* background-color: brown;*/
    display: flex;
    order: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contenedor-hijo-2 {
   /* background-color: blue;*/
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
   flex-direction: column;
}

.contenedor-hijo-3 {
   /* background-color: green;*/
    display: flex;
    order: 3;
    align-items: center;
    justify-content: center;
   flex-direction: column;

}
.contenedor-hijo-4 {
    /*background-color: brown;*/
    display: flex;
    order: 4;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   
}

.contenedor-hijo-5 {
   /* background-color: blue;*/
    display: flex;
    order: 5;
    align-items: center;
    justify-content: center;
   flex-direction: column;
}

.contenedor-hijo-6 {
   /* background-color: green;*/
    display: flex;
    order: 6;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Negrita{
    font-weight: bold;
}
.Descripcion{
    font-size: small;
}


.contenedor-hijo-1,
.contenedor-hijo-2,
.contenedor-hijo-3,
.contenedor-hijo-4,
.contenedor-hijo-5,
.contenedor-hijo-6{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;

}

.busqueda {
    align-items: center;
    text-align: center;
    margin: 20px;
    
}

.slider-frame {
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: 10px auto 0;
    overflow: hidden;
    
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}